/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 16pt;
	}

	h2
	{
	}

		h2 br
		{
			display: none;
		}

	.container
	{
		padding: 0 2em 0 2em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		width: 100%;
		background: none !important;
		box-shadow: none !important;
	}
	
		#header .top
		{
			position: relative;
		}
	
		#header .bottom
		{
			border-top: solid 1px rgba(255,255,255,0.05);
			box-shadow: 0 -1px 0 0 rgba(0,0,0,0.15);
			padding-top: 2em;
			margin-top: 1em;
			position: relative;
		}

	#logo
	{
		margin: 1.5em 1.25em 1.25em 1.25em;
	}

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					padding: 0.5em 1.25em 0.5em 1.25em;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		margin-left: 0;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 0;
	}

/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanel
	{
		background: #222729 url('images/overlay.png');
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
	}

	#sidePanelToggle
	{
	}
	
		#sidePanelToggle .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(128,136,144,0.5) url('images/toggle.svg') center center no-repeat;
			border-radius: 0.35em;
			margin: 0.25em;
		}