
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 16pt;
	}

	.container
	{
		padding: 0 2em 0 2em;
	}

	/* Lists */

		ul.icons
		{
		}	
		
			ul.icons li
			{
			}

			ul.icons li a
			{
				width: 1.75em;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		width: 20%;
	}

	#logo
	{
	}
	
		#logo .image
		{
			position: relative;
			margin: 0 0 0.5em 0;
		}

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					font-size: 0.8em;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
				}
				
					#nav ul li a span
					{
						padding-right: 2.25em;
					}
					
						#nav ul li a span:before
						{
							left: 100%;
							margin-left: -1.25em;
						}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 20%;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 20%;
	}
